<style>
    /* Chrome, Safari, Edge, Opera */
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<h1 mat-dialog-title>Provision Device</h1>
<div mat-dialog-content fxLayout="column">
    <div fxLayout="row">
        <mat-form-field appearance="outline">
            <mat-label>MAC ADDRESS</mat-label>
            <input matInput disabled [ngModel]="data.device.mac" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>SERIAL</mat-label>
            <input matInput disabled [ngModel]="data.device.serial" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>TYPE</mat-label>
            <input matInput disabled [ngModel]="data.device.type" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>MODEL</mat-label>
            <input matInput disabled [ngModel]="data.device.model" />
        </mat-form-field>
    </div>
    <form [formGroup]="frmDevice" class="create-form" fxLayout="column">
        <mat-form-field appearance="outline">
            <mat-label>NAME</mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>SITE</mat-label>
            <mat-select formControlName="site_name" (selectionChange)="changeSite()">
                <mat-option value="">No Site</mat-option>
                <mat-option *ngFor="let site of data.sites " [value]="site.name">
                    {{site.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>FLOORPLAN</mat-label>
            <mat-select formControlName="map_id">
                <mat-option value="">No FloorPlan</mat-option>
                <mat-option *ngFor="let map of maps " [value]="map.id">
                    {{map.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions style="justify-content: space-around;" fxLayout="row">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="accent" cdkFocusInitial (click)="confirm()" [disabled]="frmDevice.invalid">Update</button>
</div>